<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>The Political Turing Test</h1>
    </div>
    <div class="container">
      <h3>About</h3>
      <p>The Political Turing Test was developed as a device to promote principled debate and to assess one's ability to correctly comprehend the arguments 
      of his or her intellectual opponents. Originally conceptualized as the <a href="https://en.wikipedia.org/wiki/Ideological_Turing_Test">"Ideological Turing Test"</a> 
      by economist Bryan Caplan, the Political Turing Test provides an experimental framework for this concept and offers users quantifiable feedback.
      </p>
    </div>
    <div class="container">
      <p>"<i>He who knows only his own side of the case knows little of that.</i>" -John Stuart Mill</p>
    </div>
    <div class="container">
    <p>{% for message in get_flashed_messages() %}
           <strong><i>--{{ message }}--</i></strong>
         {% endfor %}
    </p>
    </div>
    <div class="container">
    {% if user_status %}
    <p>Click <a href="/logout">here</a> to logout.</p>
    <p>Click <a href="/voting">here</a> to vote on arguments.</p>
    <p>Click <a href="/arguments">here</a> to add arguments or view how your arguments are scoring.</p>
    {% else %}
    <p>Click <a href="/login">here</a> to login or click <a href="/register">here</a> to register.</p>
    {% endif %}
    <div class="container">
      <h3><strong>Active motions available for debate:</strong></h3>
    </div>
    {% for motions in all_motions %}
    <div class="container">
      <h4>{{ motions.keys()[0] }}</h4>
      <ul>
        {% for motions in motions.values()[0] %}
        <li><a href="/voting/{{ motions.id }}">{{ motions.topic }}</a></li>
        {% endfor %}
      </ul>
    </div>
      {% endfor %}
    </div>
  </body>
</html>  