<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>The Political Turing Test</h1>
      {% if session['logged_in'] %}
      <p align="right">
        Your total points:<span class="badge">{{ user_points }}</span></a><br>
      </p>
      {% endif %}
    </div>
    <div class="container">
      <h3>About</h3>
      <p>The Political Turing Test was developed as a device to promote principled debate and to assess one's ability to correctly comprehend the arguments 
      of his or her intellectual opponents. Originally conceptualized as the <a href="https://en.wikipedia.org/wiki/Ideological_Turing_Test">"Ideological Turing Test"</a> 
      by economist Bryan Caplan, the Political Turing Test provides an experimental framework for this concept and offers users quantifiable feedback.
      </p>
    </div>
    <div class="container">
      <p>"<i>He who knows only his own side of the case knows little of that.</i>" -John Stuart Mill</p>
    </div>
    <div class="container">
    <p>{% for message in get_flashed_messages() %}
           <strong><i>--{{ message }}--</i></strong>
         {% endfor %}
    </p>
    </div>
    <div class="container">
    {% if session['logged_in'] %}
    <p><a href="/logout">Logout.</a></p>
    <p><a href="/arguments">Enter into an active debate and add your own arguments.</a></p>
    <p><a href="/propose-motion">Start a new debate and propose your own motion.</a></p>
    <p><a href="/vote-motion/{{ randProposedTopic }}">Vote on other's proposed motions for debate.</a></p>
    <p><a href="/voting/{{ randnum }}"> Vote on arguments.</a></p>
    <p><a href="/scoring">View how your arguments are scoring.</a></p>
    <p><a href="/turingarguments/topic/{{ randnum }}/topscoring">View the highest rated turing arguments.</a></p>
    {% else %}
    <p><a href="/login">Login</a> or <a href="/register">register.</a></p>
    {% endif %}
    <div class="container">
      <h3><strong>Active motions currently being debated:</strong></h3>
    </div>
    {% for motions in all_motions %}
    <div class="container">
      <h4>{{ motions.keys()[0] }}</h4>
      <ul>
        {% for motions in motions.values()[0] %}
        <li><a href="/voting/{{ motions.id }}">{{ motions.topic }}</a> ({{ motions.days_left() }})</li> 
        {% endfor %}
      </ul>
    </div>
      {% endfor %}
    </div>
  </body>
</html>  