<html>
  <head>
    <title>Idea Turing Test - add arguments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        .argument-box {
            margin-bottom: 1em;
        }

        .argument-box-header {
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>The Political Turing Test</h1>
      {% if session['logged_in'] %}
      <p align="right">
        Your total points:<span class="badge">{{ user_points }}</span></a><br>
      </p>
      {% endif %}
    </div>
    <div class="container">
      <h2>Add Arguments</h2>
      <li>It costs 15 points to enter into a debate and submit your own arguments. </li>
    </div>
    <div class="container">
      <p>{% for message in get_flashed_messages() %}
        <strong><i>--{{ message }}--</i></strong>
      {% endfor %}
      </p>
    </div>
    <div class="container">
      <p><a href="/logout">Logout.</a></p>
      <p><a href="/">Return home.</a></p>
      <p><a href="/voting/{{ randnum }}">Vote on arguments.</a></p>
      <p><a href="/turingarguments/topic/{{ randnum }}/topscoring">View the highest rated turing arguments.</a></p>
    </div>
    <div class="container">

      <form action="" method="get">
        <h4>Categories:</h4>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Filter</button>
          <select name="category_value">
            <label for="category">Category</label>
            <option value="all">All</option>
            {% for category in categories %}
            <option value="{{ category.category }}">{{ category.category }}</option>
            {% endfor %}
          </select>
        </div>
      </form>


      <form class="form-signin" role="form" action="" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
          <h4>Active motions by category: <strong>{{ category_header }}</strong></h4>
          {% for motion in motions %}
          <li>{{ motion.topic }} <i>({{ motion.days_left() }})</i></li>
          {% endfor %}
        </div>
        <div class="form-group">
          <select name="motion_value">
            <label for="motion">Motion</label>
            {% for motion in motions %}
            <option value="{{ motion.topic }}">{{ motion.topic }}</option>
            {% endfor %}
          </select>
        </div>
        <label class="radio">
          <input type="radio" name="user_stance" id="optionsRadios1" value="pro" checked>
          I <u>support</u> this motion.
        </label>
        <label class="radio">
          <input type="radio" name="user_stance" id="optionsRadios2" value="con">
          I am <u>against</u> this motion.
         </label>
        <div class="form-group argument-box clearfix">
          <h3 class="argument-box-header">Write an argument <strong>for</strong> the motion.</h3>
          <label for="title" class="col-sm-2 control-label">'Pro'-Abstract:</label>
          <div class="col-sm-10">
            {{ form.pro_abstract(class_="form-control") }}
            <span class="error">
            {% if form.pro_abstract.errors %}
              {% for error in form.pro_abstract.errors %}
                {{ error }}
              {% endfor %}
            {% endif %}
            </span>
          </div>

          <label for="Content" class="col-sm-2 control-label">'Pro'-Argument:</label>
          <div class="col-sm-10">
            {{ form.pro_argument(class="form-control", **{'style':'height: 300px;'}) }}
            <span class="error">
            {% if form.pro_argument.errors %}
              {% for error in form.pro_argument.errors %}
                {{ error }}
              {% endfor %}
            {% endif %}
            </span>
          </div>
        </div>

        <div class="form-group argument-box clearfix">
          <h3 class="argument-box-header">Write an argument <strong>against</strong> the motion.</h3>
          <label for="title" class="col-sm-2 control-label">'Con'-Abstract:</label>
          <div class="col-sm-10">
            {{ form.con_abstract(class_="form-control") }}
            <span class="error">
            {% if form.con_abstract.errors %}
              {% for error in form.con_abstract.errors %}
                {{ error }}
              {% endfor %}
            {% endif %}
            </span>
          </div>

          <label for="Content" class="col-sm-2 control-label">'Con'-Argument:</label>
          <div class="col-sm-10">
            {{ form.con_argument(class="form-control", **{'style':'height: 300px;'}) }}
            <span class="error">
            {% if form.con_argument.errors %}
              {% for error in form.con_argument.errors %}
                {{ error }}
              {% endfor %}
            {% endif %}
            </span>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>