<html>
  <head>
    <title>Idea Turing Test - add arguments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        .argument-box {
            margin-bottom: 1em;
        }

        .argument-box-header {
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>The Political Turing Test</h1>
    </div>
    <div class="container">
      <h2>Edit your proposed motion</h2>
    </div>
    <div class="container">
      <p>{% for message in get_flashed_messages() %}
        <strong><i>--{{ message }}--</i></strong>
      {% endfor %}
      </p>
    </div>
    <div class="container">
      <p>Click <a href="/logout">here</a> to logout.</p>
      <p>Click <a href="/">here</a> to return home.</p>
      <p>Click <a href="/voting/{{ randnum }}">here</a> vote on arguments.</p>
      <p>Click <a href="/turingarguments/topic/{{ randnum }}/topscoring">here</a> to view the highest rated turing arguments.</p>
    </div>
    <div class="container">
      <form action="" method="post">
        <h4>Select a category:</h4>
        <div class="form-group">
          <select name="category_value">
            <label for="category">Category</label>
            {% for category in categories %}
            <option value="{{ category.category }}">{{ category.category }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group argument-box clearfix">
          <h4>Propose a new motion:</h4>
          <div class="col-sm-10">
            <textarea class="form-control" id="argument" name="topic" style="height: 50px;" placeholder="{{ motion_update.topic }}">{{ request.form.topic }}</textarea>
          </div>
        </div>
        <h5>Give your motion the best possible chance of getting successfully passed by reviewing these helpful tips:</h5>
        <div class="form-group">
          <li>Be specific </li>
          <li>Use the most relevant keyword categories.</li>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </body>
</html>
