<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>The Political Turing Test</h1>
      <br>
      <p>{% for message in get_flashed_messages() %}
           <strong><i>--{{ message }}--</i></strong>
         {% endfor %}
      </p>
      <p>Click <a href="/logout">here</a> to logout.</p>
      <p>Click <a href="/">here</a> to go to the home page.</p>
      <p>Click <a href="/arguments">here</a> to add arguments or view how your arguments are scoring.</p>
      <p>Click <a href="/turingarguments/topic/{{ randnum }}/topscoring">here</a> to view the highest rated turing arguments.</p>
      <br><br>
      {% if user_status %}
      <h2>Vote on the best arguments <strong><u>for</u></strong> the motion "{{ topic.topic }}"</h3>
      <li>There are {{ topic.days_left() }} days remaining until this motion becomes inactive and closed.</li>
      {% else %}
      <h2>Vote on the best arguments <strong><u>against</u></strong> the motion "{{ topic.topic }}"</h3>
      {% endif %}
      <br><br>
      <form action="" method="post">
      {% for argument in arguments %}
        <strong>Abstract:</strong> {{ argument.abstract }} <br>
        <strong>Argument:</strong> {{ argument.argument }} <br>
          <div class="form-group">
            <select name="vote_value">
              <label for="vote">Vote:</label>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
          </div>
      {% endfor %}     
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
    </div>
    <div class="container">
      <h3><strong>Vote on these other active motions by category:</strong></h3>
    </div>
    {% for motions in other_user_motions %}
    <div class="container">
      <h4>{{ motions.keys()[0] }}</h4>
      <ul>
        {% for motions in motions.values()[0] %}
        <li><a href="/voting/{{ motions.id }}">{{ motions.topic }}</a> ({{ motions.days_left() }})</li>
        {% endfor %}
      </ul>
    </div>
      {% endfor %}
  </body>
</html>