<html>
  <head>
    <title>Idea Turing Test - login page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>The Political Turing Test</h1>
      <br>
      <h2>Please login</h2>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{ 
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{ 
          request.form.password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
      {% if error %}
        <p class="error"><strong>Error:</strong> {{ error }}</p>
      {% endif %}
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
      <p><p>Click <a href="/register">here</a> to register if you do not have an account.</p>
      <p><p>Click <a href="/">here</a> to return home.</p>
    </div>
  </body>
</html>

