<html>
  <head>
    <title>Idea Turing Test - add arguments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
    <style type="text/css">
        .argument-box {
            margin-bottom: 1em;
        }

        .argument-box-header {
            text-align: center;
        }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>The Political Turing Test</h1>
      {% if session['logged_in'] %}
      <p align="right">
        Your total points:<span class="badge">{{ user_points }}</span></a><br>
      </p>
      {% endif %}
    </div>
    <div class="container">
      <h2>Scoring</h2>
    </div>
    <div class="container">
      <p>{% for message in get_flashed_messages() %}
        <strong><i>--{{ message }}--</i></strong>
      {% endfor %}
      </p>
    </div>
    <div class="container">
      <p>Click <a href="/logout">here</a> to logout.</p>
      <p>Click <a href="/">here</a> to return home.</p>
    </div>
    <div class="container">

      <form action="" method="get">
        <div class="form-group">
          <label class="checkbox-inline active"><input type="checkbox" value="active" checked="checked" name="choice">Active</label>
          <label class="checkbox-inline active"><input type="checkbox" value="closed" checked="checked" name="choice">Closed</label>
        </div>
        <h4>Categories:</h4>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Filter</button>
          <select name="category_value">
            <label for="category">Category</label>
            <option value="all">All</option>
            {% for category in categories %}
            <option value="{{ category.category }}">{{ category.category }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="container">            
          <table class="table table-hover">
            <thead>
              <tr>
                <th>Status</th>
                <th>Date Created</th>
                <th>Category</th>
                <th>Motion</th>
                <th>"Pro" Votes</th>
                <th>"Pro" Avg Score</th>
                <th>"Con" Votes</th>
                <th>"Con" Avg Score</th>
             </tr>
            </thead>
            <tbody>
            {% for motion in motions %}
              <tr>
                <td>{{ motion.return_status() }}</td>
                <td>{{ motion.created_date }}</td>
                <td>{{ motion.category }}</td>
                <td>{{ motion.topic }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </body>
</html>